<div class="container">
    <div class="navbar navbar-expand-lg">
        <a class="navbar-brand brand-link" href="./">
            <i class="fas fa-dna"></i> ATAVDB
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link home-link" routerLink="" routerLinkActive="active">Home</a>
                <a class="nav-item nav-link home-link" routerLink="about">About</a>
                <a class="nav-item nav-link home-link" routerLink="terms">Terms</a>
                <a class="nav-item nav-link home-link" routerLink="restapi">API</a>
                <a class="nav-item nav-link home-link" routerLink="faq">FAQ</a>
                <a class="nav-item nav-link home-link" routerLink="contact">Contact</a>
                <a *ngIf="accountService.isAuthenticated()" class="nav-item nav-link home-link" href="/" (click)="accountService.signout()"><i class="fas fa-sign-out-alt"></i>&nbsp;Sign Out</a>
                <a *ngIf="!accountService.isAuthenticated()" class="nav-item nav-link home-link" href="/signin"><i class="fas fa-sign-in-alt"></i>&nbsp;SignIn</a>
            </div>
        </div>
    </div>
</div>