<!-- search form -->
<app-search></app-search>

<div class="container">
    <div *ngIf="error; else elseBlock" class="row">
        <div class="col-auto">
            <div class="alert alert-warning" role="alert">
                <i class="fas fa-exclamation-circle"></i>&nbsp;{{error}}
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div [hidden]="!variants">
            <div class="row">
                <div class="col">
                    <h4><mark>Region: {{query}}</mark></h4>
                </div>

                <div class="col-md-auto">
                    <a class="btn btn-outline-secondary btn-sm"
                        href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=chr{{query}}"
                        target="_blank">UCSC</a>
                </div>
            </div>

            <br />

            <div *ngIf="experimentId" class="row">
                <div class="col">
                    <h5>Experiment ID: 
                        <a href="https://sequence.igm.cumc.columbia.edu/search.php?action=viewSample&experiment_id={{experimentId}}"
                            target="_blank">{{experimentId}}</a>
                    </h5>
                </div>
            </div>
            <div *ngIf="experimentId" class="row">
                <div class="col">
                    <h5>Publicly Available: {{variants[0].carriers[0].availableControlUse}}</h5>
                </div>
            </div>
            <div *ngIf="experimentId" class="row">
                <div class="col">
                    <h5>Gender: {{variants[0].carriers[0].gender}}</h5>
                </div>
            </div>
            <div *ngIf="experimentId" class="row">
                <div class="col">
                    <h5>Phenotype: {{variants[0].carriers[0].phenotype}}</h5>
                </div>
            </div>
            <div *ngIf="experimentId" class="row">
                <div class="col">
                    <h5>Ancestry: {{variants[0].carriers[0].ancestry}}</h5>
                </div>
            </div>

            <br />

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Variant</h4>

                    <div class='table-responsive'>
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table table-sm table-hover text-center">
                            <thead>
                                <tr>
                                    <th class="align-middle" data-bs-toggle="tooltip" data-bs-title="chr-pos-ref-alt">Variant ID
                                    </th>
                                    <th class="align-middle" data-bs-toggle="tooltip"
                        data-bs-title="HGVS_p or HGVS_c for most damaging effect">Consequence</th>
                                    <th class="align-middle" data-bs-toggle="tooltip"
                        data-bs-title="SnpEff classification of the severity">Impact</th>
                                    <th class="align-middle" data-bs-toggle="tooltip"
                        data-bs-title="Consequence type of this variation for most damaging effect">
                                        Effect
                                    </th>
                                    <th class="align-middle" data-bs-toggle="tooltip"
                        data-bs-title="HGNC gene for most damaging effect (Ensemble 87)">Gene</th>
                                    <th *ngIf="!experimentId" class="align-middle" data-bs-toggle="tooltip" data-bs-title="Allele Acount">AC</th>
                                    <th *ngIf="!experimentId" class="align-middle" data-bs-toggle="tooltip" data-bs-title="Allele Frequency">AF</th>
                                    <th *ngIf="!experimentId" class="align-middle" data-bs-toggle="tooltip"
                        data-bs-title="Number of samples having data">NS
                                    </th>
                                    <th *ngIf="!experimentId" class="align-middle" data-bs-toggle="tooltip" data-bs-title="Number of homozygotes">NHOM
                                    </th>
                                    <th class="align-middle" data-bs-toggle="tooltip"
                        data-bs-title="Maximum External Allele Frequency">maxEAF</th>
                                    <th *ngIf="experimentId" class="align-middle" data-bs-toggle="tooltip" data-bs-title="Genotype">GT</th>
                                    <th *ngIf="experimentId" class="align-middle" data-bs-toggle="tooltip" data-bs-title="Read Depth">DP</th>
                                    <th *ngIf="experimentId" class="align-middle" data-bs-toggle="tooltip"
                        data-bs-title="Percentage of all the reads at the site that support the alternative allele">
                                        Percent Alt Read</th>
                                    <th *ngIf="experimentId" class="align-middle" data-bs-toggle="tooltip"
                        data-bs-title="GATK Variant Quality Score Recalibration filter: PASS->PASS, VQSRTrancheSNP90.00to99.00->LIKELY, VQSRTrancheSNP99.00to99.90->INTERMEDIATE, VQSRTrancheSNP99.90to100.00->FAIL">
                                        FILTER</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let variant of variants">
                                    <td class="align-middle">
                                        <a href="/variant/{{variant.variantIdStr}}" target='_blank'>
                                            {{variant.variantIdStr}}
                                        </a>
                                        
                                    </td>
                                    <td class="align-middle">{{variant.consequence}}</td>
                                    <td class="align-middle">{{variant.impact}}</td>
                                    <td class="align-middle">{{variant.effect}}</td>
                                    <td class="align-middle">{{variant.geneName}}</td>
                                    <td *ngIf="!experimentId" class="align-middle">{{variant.ac}}</td>
                                    <td *ngIf="!experimentId" class="align-middle">{{variant.af}}</td>
                                    <td *ngIf="!experimentId" class="align-middle">{{variant.ns}}</td>
                                    <td *ngIf="!experimentId" class="align-middle">{{variant.nhom}}</td>
                                    <td class="align-middle">{{variant.maxEAF}}</td>
                                    <td *ngIf="experimentId" class="align-middle">{{variant.carriers[0].gtstr}}</td>
                                    <td *ngIf="experimentId" class="align-middle">{{variant.carriers[0].dp}}</td>
                                    <td *ngIf="experimentId" class="align-middle">{{variant.carriers[0].percAltRead}}</td>
                                    <td *ngIf="experimentId" class="align-middle">{{variant.carriers[0].filter}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<br />
<br />