<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">    
    <head>
        <title>Error</title>

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/all-fontawesome.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>

    <body>
        <div class="container">
            <div th:replace="fragments/header :: header"></div>

            <div class="container-main">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1>
                                Oops!
                            </h1>
                            <p class="alert alert-warning" role="alert">
                                <i class="fas fa-exclamation-circle"></i>&nbsp;Sorry, an error has occured, Requested page not found!
                            </p>
                        </div>

                        <th:block th:if="${session.sequence_authorized} and ${session.error}">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="alert alert-warning" role="alert">
                                        <i class="fas fa-exclamation-circle"></i>&nbsp;[[${session.error}]]
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer"></div>
            <div th:replace="fragments/counter :: counter"></div>
        </div>
    </body>
</html>