<!-- search -->
<app-search></app-search>

<div class="container">
    <div *ngIf="error" class="row">
        <div class="col-auto">
            <div class="alert alert-warning" role="alert">
                <i class="fas fa-exclamation-circle"></i>&nbsp;{{error}}
            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom footer">
    <i class="fas fa-exclamation-circle"></i>&nbsp;If you use ATAV for a publication, please cite 
                <a href="https://doi.org/10.7916/yaa2-qy53" target="_blank">this</a> paper.
</div>