<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="form-signin">
            <form action="signin" method="post">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                <div class="form-label-group">
                    <input type="text" id="inputUsername" name="username" class="form-control"
                        placeholder="MC username (usually your UNI)" required autofocus>
                    <label for="inputUsername">MC username (usually your UNI)</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" name="password" class="form-control"
                        placeholder="MC password" required>
                    <label for="inputPassword">MC password</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit"><i
                        class="fas fa-sign-in-alt"></i>&nbsp;Sign
                    in</button>

                <small class="form-text text-muted mt-2">
                    By using these resources, you agree to abide by Columbia University's
                    <a href="http://policylibrary.columbia.edu/acceptable-usage-information-resources-policy"
                        target="_blank">Acceptable Usage of Information Resources Policy.</a>
                </small>
            </form>
        </div>
    </div>
</div>