<div class="container">
    <div class="container-main">
        <h3 class="page-header">Contact</h3>

        <address>
            <strong>Nick Ren</strong><br>
            <a href="mailto: z.ren@columbia.edu" target="_blank">
                <i class="far fa-envelope">
                    z.ren@columbia.edu
                </i>
            </a>
        </address>

        <address>
            <strong>Institute for Genomic Medicine</strong><br>
            Columbia University Medical Center<br>
            701 W 168th Street<br>
            Hammer Building 404C<br>
            New York, NY 10032
        </address>
    </div>
</div>