<div class="container">
    <div class="container-main">
        <h3 class="page-header pb-3">Terms</h3>

        <h4><i class="fa fa-gavel"></i> Terms of use</h4>
        <p>
            The content of the ATAV data browser is intended strictly for educational and research purposes. 
            The data derived from this website may not be used for any commercial purpose. 
            The data from this website may not be replicated on any other website without written consent.
        </p>
        
        <br/>

        <h4><i class="fa fa-star"></i> Citation</h4>
        <p>If you use data from the ATAV data browser, please cite:</p>         
        <p>                    
            Ren, Z., Povysil, G., Hostyk, J.A. et al. ATAV: a comprehensive platform for population-scale genomic analyses. BMC Bioinformatics 22, 149 (2021). 
            <a href="https://doi.org/10.7916/yaa2-qy53" target="_blank">https://doi.org/10.7916/yaa2-qy53</a>
        </p>
    </div>
</div>