<div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="jumbotron" style="padding:20px 40px 20px 50px">
            <h2>Data Browser
                <small>
                    <span class="badge badge-pill badge-secondary">hg19</span>
                </small>
            </h2>
            <div class="row">
                <div class="col-md-9 form-group">
                    <div class="input-group">
                        <input [(ngModel)]="query" [attr.disabled]="loading ? true : null" id="query"
                            formControlName="query" class="form-control" type="text"
                            placeholder="Search by variant, gene or region">
                        <div class="input-group-append">
                            <button [disabled]="loading" class="btn btn-primary" type="submit">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                <i *ngIf="!loading" class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <p class="text-muted" style="margin-left: 5px">
                        Examples -
                        Variant: <a href="/variant/21-33040861-G-C">21-33040861-G-C</a>,
                        Gene: <a href="/gene/TBK1">TBK1</a>,
                        Region: <a href="/region/2:166892071-166893071">2:166892071-166893071</a>
                    </p>
                </div>

                <div class="col-md-3 form-group text-center">
                    <div class="bg-light">
                        <h2>{{ sampleCount | number }}</h2>
                        <p><i class="fas fa-user"></i> NGS Samples</p>
                    </div>
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-md-auto form-group" data-toggle="tooltip" title="Search variants by selected phenotype">
                    <label>Phenotype:</label>
                    <select [attr.disabled]="loading ? true : null" [(ngModel)]="phenotype" formControlName="phenotype"
                        class="form-control">
                        <option *ngFor="let phenotype of PHENOTYPE_LIST" [ngValue]="phenotype">{{phenotype}}</option>
                    </select>
                </div>

                <div class="col-md-auto form-group" data-toggle="tooltip"
                    title="Search variants when its AF <= cutoff or AF >= (1 - cutoff)">
                    <label>MAF:</label>
                    <select [attr.disabled]="loading ? true : null" [(ngModel)]="maf" formControlName="maf"
                        class="form-control">
                        <option *ngFor="let maf of MAF_LIST" [value]="maf">{{maf}}</option>
                    </select>
                </div>

                <div class="col-md-auto form-group">
                    <div class="custom-control custom-switch" data-toggle="tooltip" title="DP_bin >= 10; GQ >= 20; SNV-SOR <= 3; INDEL-SOR <= 10; 
                             SNV-FS <= 60; INDEL-FS <= 200; MQ >= 40; QD >= 5; Qual >= 50; RPRS >= -3; 
                             MQRS >= -10; FILTER = PASS or LIKELY or INTERMEDIATE">
                        <input [attr.disabled]="loading ? true : null" formControlName="isHighQualityVariant"
                            [ngModel]="isHighQualityVariant" type="checkbox" class="custom-control-input" id="check-high-quality-variant">
                        <label class="custom-control-label" for="check-high-quality-variant">High Quality Variant</label>
                    </div>
                </div>

                <div class="col-md-auto form-group">
                    <div class="custom-control custom-switch" data-toggle="tooltip"
                        title="All External AF are 0, 1 or NA">
                        <input [attr.disabled]="loading ? true : null" formControlName="isUltraRareVariant"
                            type="checkbox" class="custom-control-input" id="check-ultra-rare-variant" [ngModel]="isUltraRareVariant">
                        <label class="custom-control-label" for="check-ultra-rare-variant">Ultra Rare Variant</label>
                    </div>
                </div>

                <div class="col-md-auto form-group">
                    <div class="custom-control custom-switch" data-toggle="tooltip"
                        title="These are samples that due to their consent can be used as controls for other studies at the IGM. Selecting this option (default for anonymous/public users) will limit all displayed data to these samples only">
                        <input [attr.disabled]="loading ? true : null" formControlName="isPubliclyAvailable"
                            type="checkbox" class="custom-control-input" id="check-publicly-available" [ngModel]="isPubliclyAvailable">
                        <label class="custom-control-label" for="check-publicly-available">Publicly Available Sample</label>
                    </div>
                </div>

                <div *ngIf="accountService.isAuthorized()" class="col-md-auto form-group">
                    <div data-toggle="tooltip" title="Search variants by Experiment ID">
                        <label>Experiment ID:</label>
                        <input [(ngModel)]="experimentId" [attr.disabled]="loading ? true : null" id="experimentId"
                            formControlName="experimentId" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>